@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

@font-face {
    font-family: "Migra extraBold";
    src: url('/font/migra extraBold.ttf');
    /* IE9 */
}
@font-face {
    font-family: "KungFuMaster";
    src: url('/font/KungFuMaster-K7vrX.otf');
    /* IE9 */
}


body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}
a {
    color: #196f4f;
}

.content{
    margin: 3%;
}
h1,h2,h3{
    font-weight: 400;
}
.beau {
    font-family: 'KungFuMaster', 'Times New Roman', Times, serif;
    
}

.footer{
    text-align: center;
    position: fixed;
    bottom: 0px;
    background-color: #333;
    color: #fff;
    width: 100%;
    padding: 3px;
}
.footer  a {
    color: #fff;
}
#dark {
    border: 1px solid #333;
    background-color: #333;
    position: absolute;
    right: 16px;
    bottom: 5px;

}
.heure {
    border-top: 1px solid black
}