

tr {
    width: 100%;
    border: 1px solid black;
    /* height: 12px; */
    vertical-align: center;
}

td {
    height: min-content;
    min-width: 18%;
}
.trHeure{
    height: 7px;
}

.Fakheure{
    vertical-align: top;
    height: 7px;
}

.heure {
    vertical-align: top;
    height: 7px;
}

.cours {
    /* height: 5px; */
    text-align: center;
    border: 1px solid black;
    color: black;
}

.hid {
    display: none;
}
@media screen and (max-width: 600px) {
    tbody{
        font-size: 3vw;
    }
}

.manchot{
    background-image: url("/EDT/backgrounds/manchot.png");
    
}

.chateauuu {
    background-image: url("/EDT/backgrounds/chateauuuuu.png");

}

/* chateauuuuu.png */