table,
tbody {
    min-width: 50%;
    font-size: 1.5vw;
}

tr {
    width: 100%;
    border: 1px solid black;

}

td {
    min-height: 15%;
    min-width: 18%;
}

.heure {
    vertical-align: top;
}

.cours {
    height: 50px;
    text-align: center;
    border: 1px solid black;
}

.hid {
    display: none;
}